/*
            #leftTop{
                left: 0px;
                top: 0px;
            }

            .boxes{
                width: 100px;
                height: 100px;
                background-color: #DAD;
                position: fixed;
            }


            #rightTop{
                right: 0px;
                top: 0px;
            }

            #rightBot{
                right: 0px;
                bottom: 0px;
            }

            #leftBot{
                left: 0px;
                bottom: 0px;
            }


            #centerTop, #centerBot{
                left: 0px;
                right: 0px;
                margin: auto;




            }


            #centerTop{
                top: 0px;
              
            }

            #centerBot{
                bottom: 0px;

            }

            #centerLeft, #centerRight{
                bottom: 0px;
                top: 0px;
                margin: auto;
            }

            #centerLeft{
                left: 0px;

            }

            #centerRight{
                right: 0px;
            }

            #centerBox{
                height: 50vh;
                width: 50vw;
                right: 0px;
                left: 0px;
                top: 0px;
                bottom: 0px;
                margin: auto;
            }

            #img1{
                height: 50px;
                position: absolute;
                width: auto;
                left: 0px;
                bottom: 0px;
                transition:left 1s, bottom 1s;


            }
*/



 #bigDiv{
     position: absolute;

    

     right: 0px;
     left: 0px;
     top: 0px;
     bottom: 0px;

     height: 50vh;
     width: 50vw;

     margin: auto;


     background-color: orange;

 }

#img1{
    position: absolute;

     right: 0px;
     left: 0px;
     top: 0px;
     bottom: 0px;

     margin: auto;

}
/*
#center{
    width: 30vh;
    height: 30vw;

    position: absolute;
    background-color: green;


     right: 0px;
     left: 0px;
     top: 0px;
     bottom: 0px;

    
     margin: auto;
    
}
*/
#header { 
    text-align: center;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 100px;
    margin: auto;
    width: 30vw;
    border-bottom: 1px solid #CCC;

 }


  #left{
    left: 0px;
    top: 50%;

    position: absolute;

 }



#right{
    right: 0px;
    top: 50%;

    position: absolute;

 }


 #down{
    left: 50%;
    bottom: 0px;

    position: absolute;

 }

 #up{
    left: 50%;
    top: 0px;
    position: absolute;
 }


 .ava1{
    position: absolute;
    left: 70px;
    bottom: 0px;
    margin-bottom: 27px;

 }

 .ava2{
    position: absolute;
    left: 150px;
    bottom: 0px;
    margin-bottom: 27px;

 }


.ava3{
    position: absolute;
    left: 230px;
    bottom: 0px;
    margin-bottom: 27px;

 }


.ava4{
    position: absolute;
    left: 250px;
    bottom: 0px;
    margin-bottom: 27px;

 }

